html {
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
	color: #262626;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.logo {
	position: absolute;
	width: 30%;
	left: 50%;
	top: 40px;
	transform: translateX(-50%);
}

main {
	display: block;
}

.hl {
	color: #FF5950;
}

h1 {
	margin: 0;
}

.center {
	max-width: 40em;
	margin: 0 auto;
}

.image-w-caption {
	text-decoration: none;
	padding: 1em;

}

main p {
	margin: 0 auto;
}

li a {
	text-decoration: none;
	color: #262626;
}

footer a {
	text-decoration: none;
	padding: 1em;
}

.nav li {
	display: inline-block;
	margin: 0 auto;
}

.border-right {
	border-right: 3px solid #262626;
	padding-right: 1em;
}

.right {
	padding-left: 1em;
}

footer {
	margin: 0 auto;
}

.margins {
	max-width: 50em;
	margin: 0 auto;
}

.img-caption {
	text-decoration: none;
	color: #262626;
}

footer {
	bottom: 0px;
}

header {
	background-image: url("../images/left.svg"), url("../images/mid.svg"), url("../images/right.svg");
  background-size: 30% auto;
  background-position: left top, center top, right top;
  background-repeat: no-repeat;
}

.port {
	float: left;
}
