html {
	box-sizing: border-box;
  font-family: 'Lato', sans-serif;
	color: #fff;
	background-color: #000;
}

*, *::before, *::after {
	box-sizing: inherit;
}


main {
	display: block;
}

.head {
	width: 40em;
	align-items: center;
}


.center {
	max-width: 40em;
	margin: 0 auto;
}

.image-w-caption {
	text-decoration: none;
	padding: 1em;
}

main p {
	margin: 0 auto;
}

li a {
	text-decoration: none;
	color: #fff;
}

footer a {
	text-decoration: none;
	padding: 1em;
}

.nav li {
	display: inline-block;
	margin: 0 auto;
}

.right {
	padding-left: 1em;
}

footer {
	margin: 0 auto;
}

.margins {
	max-width: 50em;
	margin: 0 auto;
}

.img-caption {
	text-decoration: none;
	color: #fff;
}

footer {
	bottom: 0px;
}

body {
	margin: 0;
}
