<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="description" content="{{page.desc}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>
<body>

  <header>
    <img class="head center-block block max-width img-flex" src="{{site.baseurl}}/images/icons/header.png">
    <nav>
      <ul class="nav text-center exa bold">
        <li>
          <a class="inline-block" href="{{site.baseurl}}/index">
            <img class="img-flex main-img" src="{{site.baseurl}}/images/icons/portfolio.png">
          </a>
        </li>
        <li>
          <a class="inline-block" href="{{site.baseurl}}/photo">
            <img class="img-flex" src="{{site.baseurl}}/images/icons/photography.png">
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <footer class="text-center">
    <a class="icon-link icon i-96" href="mailto:design@sydbross.ca">
      <img src="{{site.baseurl}}/images/icons/email.png">
    </a>
    <a class="icon-link icon i-96" href="https://www.instagram.com/bross.design/">
      <img src="{{site.baseurl}}/images/icons/insta.png">
    </a>
    <a class="icon-link icon i-96" href="https://www.linkedin.com/in/sydneybross/">
      <img src="{{site.baseurl}}/images/icons/linkedin.png">
    </a>
    <p class="text-center">© 2017 Sydney Bross All Rights Reserved</p>
  </footer>

</body>
</html>
